<div class="home-page-main">
  <div class="content-top">
    <h3>Data is fully responsive landing page template</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati atque sint magni consequuntur in corporis a
      nemo blanditiis nisi, officiis cupiditate ab cumque velit ea inventore doloremque reprehenderit ducimus neque!
    </p>
    <button class="button-home">Start creating posts</button>
  </div>
</div>
<div class="content-middle">
  <i class="fas fa-medal"></i>
  <p>Clean and Ultra Modern Design Webpages By Shiv Raj</p>
  <div class="content-middle-main">
    <div class="content-middle-main-first">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
      <button class="button-home">Learn More</button>
    </div>
    <div class="content-middle-main-secondary">
      <img src="/assets/img/vector.jpeg" alt="img">
    </div>
  </div>
</div>
<div class="content-bottom">
  <div class="heading">
    <h3>It's designed for describing your posts, agency and business</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto ut tempora blanditiis sit sint assumenda
      quia minus repellat exercitationem.
    </p>
  </div>
  <div class="content-bottom-content">
    <div class="content-card">
      <i class="fa fa-balance-scale" aria-hidden="true"></i>
      <h4>Business</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio error voluptates. Molestiae
        corrupti.
      </p>
    </div>
    <div class="content-card">
      <i class="fa fa-balance-scale" aria-hidden="true"></i>
      <h4>Business</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio error voluptates. Molestiae
        corrupti.
      </p>
    </div>
    <div class="content-card">
      <i class="fa fa-balance-scale" aria-hidden="true"></i>
      <h4>Business</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio error voluptates. Molestiae
        corrupti.
      </p>
    </div>
    <div class="content-card">
      <i class="fa fa-balance-scale" aria-hidden="true"></i>
      <h4>Business</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio error voluptates. Molestiae
        corrupti.
      </p>
    </div>
    <div class="content-card">
      <i class="fa fa-balance-scale" aria-hidden="true"></i>
      <h4>Business</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio error voluptates. Molestiae
        corrupti.
      </p>
    </div>
    <div class="content-card">
      <i class="fa fa-balance-scale" aria-hidden="true"></i>
      <h4>Business</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio error voluptates. Molestiae
        corrupti.
      </p>
    </div>
  </div>
</div>
