<div class="content-container">
  <div class="form">
    <h2>Sign Up</h2>
    <div class="form-field name">
      <input type="text" name="fname" placeholder="First Name">
      <input type="text" name="lname" placeholder="Last Name">
    </div>
    <div class="form-field">
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="form-field">
      <input type="email" name="email" placeholder="Email">
    </div>
    <div class="form-field">
      <input type="text" name="phone" placeholder="Phone Number">
    </div>
    <div class="form-field radio-section">
      <span class="label">Choose the user type:</span>
      <div class="form-field-radio">
        <input type="checkbox" name="admin" value="admin">
        <label for="admin">Admin</label>
      </div>
      <div class="form-field-radio">
        <input type="checkbox" name="normal-user" value="user">
        <label for="normal-user">Normal user</label>
      </div>
    </div>
    <div class="form-field">
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="form-field">
      <input type="password" name="confirm-password" placeholder="Confirm Password">
    </div>
    <div class="form-field">
      <input type="submit" placeholder="Sign Up">
    </div>
    <div class="signup-with">
      <p>or sign up with:</p>
      <p>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
      </p>
    </div>
    <hr>
    <p class="bottom-p">By clicking <i>Sign up</i> you agree to our <a href="#">terms of service</a></p>
  </div>
</div>
