body[theme-scheme="custom"][theme-mode="light"] {
  --primary: #12cbc4;
  --secondary: #78e7e4;
  --primary-rgb: 18,203,196;
  --secondary-rgb: 120,231,228;
  --text-color-bar: #ffffff;
  --text-color: #000;
  --text-color-secondary: #999999;
  --icon-color-primary: #12cbc4;
  --icon-color-secondary: #78e7e4;
  --shadow: #dddddd;
  --background-color: #ffffff;
  --red: #ed4c67;
  --link: #78e7e4;
  --border-color: #dddddd;
  --input-color: #777777;
}


body[theme-scheme="custom"][theme-mode="dark"] {
  --primary: #2c3e50;
  --secondary: #34495e;
  --primary-rgb: 44,62,80;
  --secondary-rgb: 52,73,94;
  --text-color-bar: #ffffff;
  --text-color: #ffffff;
  --icon-color-primary: #dddddd;
  --icon-color-secondary: #ffffff;
  --shadow: #d2dae2;
  --text-color-secondary: #999999;
  --background-color: #485460;
  --red: #ed4c67;
  --link: #dddddd;
  --border-color: #eeeeee;
  --input-color: #ffffff;
}
