<div class="content-container">
  <div class="form">
    <h2>Login</h2>
    <div class="form-field">
      <input type="email" name="email" placeholder="Email">
    </div>
    <div class="form-field">
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="form-field radio-section">
      <div class="form-field-radio">
        <input type="checkbox" name="remember_me" value="remember_me">
        <label for="remember_me">Remember me</label>
      </div>
      <span>Forgot Password?</span>
    </div>
    <div class="form-field">
      <input type="submit" placeholder="Login">
    </div>
    <div class="login-with">
      <p>Not a member? <span routerLink="/signup">Register</span></p>
      <p>or sign up with:</p>
      <p>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
      </p>
    </div>
  </div>
</div>
