/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
@import url("./themes/_custom-variables.scss");

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color) !important;
  transition: var(--transition);
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
